form {
    width: 50vw;
    height: 20vw;
    position: fixed;
    left: 21vw;
    top: 17vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #B1DDEA;
    border-radius: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

/* #title {

} */

#thought {
    height: 50%;
}

button {
    height: 15%;
    margin-top: 0.5rem;
}